* {
	box-sizing: border-box;
}
body {
	width: 100vw;
	height: 100vh;
	font-family: Calibri;
	background-color: black;
}	

.mainpage {
	background-color: white;
	max-width: 800px;
	margin: 0 auto 0 auto;
	border-style: solid;
	border-color: black;
	border-radius: 10px;
	padding: 10px 10px 0 10px;
}

.header {
	background-color: black;
	max-width: 800px;
	margin: auto;
	border-radius: 10px;
	padding: 0 10px 0 10px;
	display: flex;
	flex-direction: row;	
	text-align: right;	
	justify-content: space-between;
}

.header ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

.header li a {
	justify-content: space-between;
	padding: 14px 16px;
	font-size: 30px;
	color: white;
	text-decoration: none;
}

.upperprofile {
	display: flex;
	flex-flow: row wrap;
	margin: 20px;
	justify-content: space-between;
}

.introduction p {
	font-size: 20px;
}

.introduction img {
	float: left;
}

@media (max-width: 400px) {
	.introduction img {
		display: none;
	}
}

.details {
	display: flex;
	flex-direction: row;
	font-size: 10px;
}

.details table {
	padding: 0;
	text-align: right;
	color: black;
}

.background {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media (max-width: 400px); {
	.background {
		display: flex;
		flex-flow: row wrap-reverse;
	}
}

h4 {
	background-color: grey;
	padding-left: 20px;
}

.employment {
	width: 50%;
}

.skills {
	width: 40%;
}

.leftcolumn {
	color: black;
	text-align: right;
}

.rightcolumn {
	color: red;
	text-align: left;
}

.languageskills table {
	padding: 10;
	text-align: right;
	color: black;
}
.coloredcircle {
	height: 20px;
	width: 20px;
	background-color: red;
	border-radius: 50%;
}

.greycircle {
	height: 20px;
	width: 20px;
	background-color: grey;
	border-radius: 50%;
}

.language {
	display: flex;
	flex-direction: row;	
}