* {
	box-sizing: border-box;
}
body {
	width: 100vw;
	height: 100vh;
	font-family: Calibri;
	background-color: black;
}

.resumepage {
	width: 60%;
	margin: auto;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.header {
	background-color: black;
	padding: 0 10px 0 10px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.header ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

.header li a {
	justify-content: space-between;
	padding: 14px 16px;
	font-size: 30px;
	color: white;
	text-decoration: none;
}

.mainpage {
	background-color: white;
	display: flex;
	flex-direction: column;
	border-style: solid;
	border-color: black;
	border-radius: 10px;
	padding: 50px 40px 20px 40px;
}

.upperprofile {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.introduction {
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
	justify-content: flex-start;
}

.introduction p {
	font-size: 20px;
}

.introduction img {
	margin-right: 20px;
}


.details {
	display: flex;
	flex-direction: row;
	font-size: 10px;
}

.details table {
	padding: 0;
	text-align: right;
	color: black;
}

.content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.experience {
	margin-right: 20px;
	width: 70%;
}

.skills {
	width: 30%;
}

h4 {
	background-color: grey;
	padding-left: 20px;
} 

.leftcolumn {
	color: black;
	text-align: right;
}

.rightcolumn {
	color: red;
	text-align: left;
}

.languageskills table {
	padding: 10;
	text-align: right;
	color: black;
}

.coloredcircle {
	height: 20px;
	width: 20px;
	background-color: red;
	border-radius: 50%;
}

.greycircle {
	height: 20px;
	width: 20px;
	background-color: grey;
	border-radius: 50%;
}

.language {
	display: flex;
	flex-direction: row;	
}

@media only screen and (max-width: 400px) {
	.resumepage {
		width: 100%;
	}
	.introduction img {
		display: none;
	}
	.experience {
		margin-right: 0;
	}
	.skills {
		margin: 20px 0;
	}
}

@media only screen and (max-width: 1000px) {
	.resumepage {
		width: 90%;
	}
}

@media only screen and (max-width: 700px) {
	.content {
		flex-direction: column-reverse;
		padding: 5px;
	}
	.experience {
		width: 100%;
	}
	.skills {
		width: 100%;
	}
}